* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.containerP0 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}
body{
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #000;
}

$mainColor : #28477d;

@mixin btn {
    overflow: hidden;
    background: #28477D;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: capitalize;
    padding: 14px 31px;
    padding-bottom: 12px;
    display: inline-block;
    border-radius: 0px 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    border: none;
    &:hover {
        color: #fff;
        &::before{
            position: absolute;
            content: "";
            width: 0%;
            height: 100%;
            background-image: linear-gradient(to bottom, #87c150, #83c058, #7fbf60, #7cbd67, #79bc6e, #72bb77, #6dba7f, #69b987, #62b892, #5eb69c, #5db4a5, #61b2ab);
            left: 0;
            top: 0;
            z-index: -1;
            transition: .5s all;
            border-radius: 0px;
            animation-name: btn;
            animation-duration: .5s;
            animation-direction: alternate;
            animation-fill-mode: forwards;

        }
    }
    @keyframes btn {
        0%{
            width: 0%;
        }
        100%{
            width: 100%;
        }
    }
}