.hairTransplantation {
    background-color: #f9f9f9;
    padding: 30px 0;
}
.hairTransplantation__box {
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #fff;
}
.hairTransplantation__left {
}
.hairTransplantation__title {
    font-size: clamp(24px,5vw,32px);
    font-weight: 700;
    margin-bottom: 15px;
}
.hairTransplantation__txt {
    line-height: 25px;
}
.hairTransplantation__right {
}
.hairTransplantation__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}